{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Playback</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <!-- https://www.cdnpkg.com/toastr.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <!-- toastify.min.css for notification -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- toastify.min.css for notification -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    
</head>

<body class="bg-blue-900 text-white" style="background-color: #181818;">

    <!-- Navbar -->
    <header class="p-5 flex justify-between items-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" height="30" alt="Netflix Logo" width="110">
        <nav class="flex space-x-5">
            <a href="/">Home</a>
            <span>Series</span>
            <span>Films</span>
            <span>New & Popular</span>
        </nav>
        <div class="flex space-x-5 items-center">
            <form action="/search" method="POST" id="search">
                {% csrf_token %}
                <input type="search" placeholder="Search" name="search" class="bg-gray-700 p-2 rounded">
                <button class="bg-red-600 text-white p-2 rounded hover:bg-red-500">Search</button>
            </form>
            <div class="relative">
                <a href="#" class="block p-2">Logout</a>
            </div>
        </div>
    </header>

    <hr>
    <!-- Main Content -->
    <div class="container mx-auto mt-10">
        <!-- Movie Title and Back Button -->
        <div class="flex items-center justify-between">
            <h2 class="text-3xl font-semibold">{{movie_details.title}}</h2>
            <a href="/" class="text-gray-400 hover:text-white">← Back to movies</a>
        </div>

        <div class="mt-8">
            <video class="w-full h-auto" controls>
                <source src="{{movie_details.video.url}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>


        <!-- Movie Description -->
        <div class="mt-6">
            <h3 class="text-xl font-semibold mb-2">About the Movie</h3>
            <p>
                {{movie_details.description}}
            </p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <!--- toastify-js for notification  -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://myeventsgh.com/vendor/sweetalert/sweetalert.all.js" nonce="rAnd0m"></script>

    <script src="{% static 'assets/js/custom.js' %}" type="text/javascript"></script>
    
</body>

</html>
